<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="com.api.test.CreateJobITestContext"/>
       <class name="com.api.test.MappedEngineerUnderSupervisorITestContest"/>
       <class name="com.api.test.AssignjobtoEngineer"/>
         <class name="com.api.test.RepairComplete"/>
             <class name="com.api.test.qccompleted"/>
              <class name="com.api.test.Delivertothecustomer"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
